<h3>Tanz-Gelegenheiten</h3>

{% for month, events in events_per_month.items() %}
<h4>{{ month_names[month] }}</h4>
<ul>
    {% for event in events %}
    <li>
        <p><strong>
            {{ format_date_range(event.start, event.end) }}
            {{ event.title }}
        </strong><br>
            {{ event.location}}
        </p>
        <p>
            {{ event.description|replace('\n\n', '</p><p>')|replace('\n', '<br />')|safe }}
        </p>
        {% if event.links %}<p style="padding-left: 2em">
            {%- for link in event.links -%}
                <a href= "{{ link.href }}" target="_blank" title="{{ link.title }}"><img alt="{{ link.alt }}" src="https://assets.folktanz.at/feather/{{ link.symbol }}.png" style="margin: 0 0.15em" /></a>
            {% endfor -%}
        </p>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}
