<h3>Tanzabende</h3>

<ul>
	{% for event in events %}
	<li>
		<p><strong>
            {{ format_date_range(event.start, event.end) }}
            {{ event.title }}
        </strong>
            <br>
            {{ event.location}}
        </p>
        {% if event.description %}<p>
            {{ event.description|replace('\n\n', '</p><p>')|replace('\n', '<br />')|safe }}
        </p>{% endif %}
        {% if event.links %}<div style="text-align:center;padding-right:20%">
            {%- for link in event.links -%}
                <a href= "{{ link.href }}" target="_blank" title="{{ link.title }}"><img alt="{{ link.alt }}" src="https://assets.folktanz.at/feather/{{ link.symbol }}.png" style="margin: 0 0.15em" /></a>
            {% endfor -%}
        </div>{% endif %}
	</li>
	{% endfor %}
</ul>

<h3>Workshops</h3>
<ul>
	{% for event in workshops %}
	<li>
		<p><strong>
            {{ format_date_range(event.start, event.end) }}
            {{ event.title }}
        </strong>
            <br>
            {{ event.location}}
        </p>
        {% if event.description %}<p>
            {{ event.description|replace('\n\n', '</p><p>')|replace('\n', '<br />')|safe }}
        </p>{% endif %}
        {% if event.links %}<div style="text-align:center;padding-right:20%">
            {%- for link in event.links -%}
                <a href= "{{ link.href }}" target="_blank" title="{{ link.title }}"><img alt="{{ link.alt }}" src="https://assets.folktanz.at/feather/{{ link.symbol }}.png" style="margin: 0 0.15em" /></a>
            {% endfor -%}
        </div>{% endif %}
	</li>
	{% endfor %}
</ul>

<h3>Vorschau</h3>
<ul>
    {% for event in preview %}
    <li style="margin-bottom: 0.5em">{{ format_date_range(event.start, event.end, short=True) }} {{ event.title }}
    {%- if event.links %}<div style="text-align:center;padding-right:20%">
            {%- for link in event.links -%}
            <a href= "{{ link.href }}" target="_blank" title="{{ link.title }}"><img alt="{{ link.alt }}" src="https://assets.folktanz.at/feather/{{ link.symbol }}.png" style="margin: 0 0.15em" /></a>
        {% endfor -%}
    </div>{% endif %}
    </li>
    {% endfor %}
</ul>
